.eventPost{
  margin-right: auto;
}

.eventImg{
  margin: 10px;
  width: 400px;
  height: 450px;
  display: block;
  margin-right: auto;
  border: 6px solid  rgb(53,203,233)!important;
}

body{margin-top:20px;}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
