<div class="container">
  <div id ="leftbox">
<div *ngIf="selected" id="eventPost">
  <h3> {{ selected.subject }}</h3>
<img class="eventImg" src="{{selected.imageUrl}}" alt="">
</div>
</div>
<div id="rightbox">
<div *ngIf="selected" id="eventPost">
  <p>{{selected.description}}</p>
</div>
</div>
<!-- <div id="galleryHeader" class="card-footer social-icons">
            <input (click)="eventPostResult(post)" class="btn" type="submit" value="Comments"/>
          </div> -->
<div class="container"  id="commentbox">
  <div class="comment-wrapper">
      <div class="panel panel-info">
          <div class="panel-heading">
              Comment panel
          </div>
          <div class="panel-body">
              <textarea [(ngModel)]="newComment.comment" class="form-control" placeholder="write a comment..." rows="3"></textarea>
              <br>
              <button type="button" (click)="postComment()" class="btn btn-info pull-right">Post</button>
              <div class="clearfix"></div>
              <hr>
              <ul class="media-list">
                  <li class="media" *ngFor="let c of selected.comments | active">
                      <div class="media-body">
                        <div>
                          <p>
                           {{c.user.username}}:
                            {{c.comment}}
                          </p>
                        </div>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
    </div>
</div>
</div>



  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
