<div>
<div *ngIf="selected" id="eventPost">
  <h1> {{ selected.subject }}</h1>
<img class="eventImg" src="{{selected.imageUrl}}" alt="">
<!-- <div class="btnDiv">
<button *ngIf="selected.enabled"
  (click)="pEventSignup()"
  class="btn"
  type="submit"
  value=""
  >Sign up for this Event</button>
</div> -->
</div>
<div class="container">
  <div class="row bootstrap snippets bootdeys">
      <div class="col-md-8 col-sm-12">
          <div class="comment-wrapper">
              <div class="panel panel-info">
                  <div class="panel-heading">
                      Comment panel
                  </div>
                  <div class="panel-body">
                      <textarea class="form-control" placeholder="write a comment..." rows="3"></textarea>
                      <br>
                      <button type="button" class="btn btn-info pull-right">Post</button>
                      <div class="clearfix"></div>
                      <hr>
                      <ul class="media-list">
                          <li class="media">
                              <a href="#" class="pull-left">
                                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                              </a>
                              <div class="media-body">
                                  <span class="text-muted pull-right">
                                      <small class="text-muted">30 min ago</small>
                                  </span>
                                  <strong class="text-success">@MartinoMont</strong>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                      Lorem ipsum dolor sit amet, <a href="#">#consecteturadipiscing </a>.
                                  </p>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

      </div>
  </div>
  </div>
<div *ngIf="selected" id="eventPost">
<p> {{selected.comment}</p>
</div>
