.eventPost{
  margin-right: auto;
}

.eventImg{
  margin: 10px;
  width: 400px;
  height: 450px;
  display: block;
  margin-right: auto;
  border: 6px solid  rgb(53,203,233)!important;
}

body{
  margin-top:20px;
  }

.panel-body {
    max-height:650px;
    overflow:auto;
}

.media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}
.comment-wrapper {
    border:2px solid #e5e7e8;
    overflow:scroll;
    max-height:300px;

}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;

}

#leftbox {
  float: left;
  text-align: center;
}

#rightbox {
  text-align: center;
  float: right;
  border: solid 1px rgb(53,203,233);
  margin-top: 75px;
  margin-right: 200px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  min-width: 250px;
  max-width: 400px;
  position: relative;
}

#rightbox p {
  vertical-align: middle;
  position: relative;
  margin: 0;
  padding: 0;
  top: 50%;

}

#eventPost{
  vertical-align: middle;
}

#commentbox {
  text-align: center;
float: right;
}
