<h3>Gallery</h3>
<form action="upload.php" method="post" enctype="multipart/form-data">
  Select image to upload:
  <input type="file" name="fileToUpload" id="fileToUpload">
  <input type="submit" value="Upload Image" name="submit">
</form>

<table>
  <thead class="col">
      <tr class="col">
        <th class="col">Photo</th>
        <th class="col">Post</th>
        <th class="col">Comments</th>
      </tr>
  </thead>
  <tbody class="center">
    <tr class="col">
      <td class="col" id="commentList">Photo awaiting approval!</td>
      <td class="col" id="commentList">Talk about your gift</td>
      <td class="col" id="commentList">Comment on what folks are talking about!</td>
    </tr>
  </tbody>
</table>

