<h3 id="header">Gallery</h3>
<!-- <form action="upload.php" method="post" enctype="multipart/form-data">
  Select image to upload:
  <input type="file" name="fileToUpload" id="fileToUpload">
  <input type="submit" value="Upload Image" name="submit">
</form>
<form>
<input type="text" name="imageUrl" [(ngModel)]="newImageUrl">
<button (click)="addImageUrl(newImageUrl)">Add Image URL</button>
</form> -->

<!-- <div>
  <table>
    <thead class="col">
      <tr class="col">
        <th class="col" id="imageUrl"></th>
        <th class="col" id="messageBoard"></th>
      </tr>
    </thead>
    <tbody class="center">
      <tr class="col" *ngFor="let post of eventPosts">
        <td>{{post.subject}}</td>
        <td><img id="giftImg" src="{{post.imageUrl}}" alt=""></td>
        <td><a [routerLink]="['/post/' + post.id]" class="btn">Comments</a></td>
      </tr>
    </tbody>
  </table>
</div> -->
<div id="galleryPosts">
  <ul id="horizontal-list">
    <li *ngFor="let post of eventPosts | active">
      <div id="eventCard">
        <div class="card h-100" style="width: auto">
          <h5 id="galleryHeader" class="card-header">
            <i class="far fa-clipboard"></i> {{ post.name }}
          </h5>
          <div class="card-body">
            <div class="text-div">
              <div (click)="eventPostResult(post)" class="btn" type="submit" value="Comments">
                <img id="cardImg" src="{{post.imageUrl}}" alt="">
                </div>
              </div>
            </div>
          </div>

          <div id="galleryHeader" class="card-footer social-icons">
            <input (click)="['/post/' + post.id]" class="btn" type="submit" value="Comments"/>
          </div>

