<h3>Gallery</h3>
<div class="row">
  <div class="column">
    <img src="image.jpg" />
    <img src="image.jpg" />
    <img src="image.jpg" />
    <img src="image.jpg" />
    <img src="image.jpg" />
    <img src="image.jpg" />
  </div>
  <div class="column">
    <img src="image.jpg" />
    <img src="image.jpg" />
    <img src="image.jpg" />
    <img src="image.jpg" />
    <img src="image.jpg" />
    <img src="image.jpg" />
  </div>
  <div class="column">
    <img src="image.jpg" />
    <img src="image.jpg" />
    <img src="image.jpg" />
    <img src="image.jpg" />
    <img src="image.jpg" />
    <img src="image.jpg" />
  </div>
  <div class="column">
    <img src="image.jpg" />
    <img src="image.jpg" />
    <img src="image.jpg" />
    <img src="image.jpg" />
    <img src="image.jpg" />
    <img src="image.jpg" />
  </div>
</div>
