@import "~bootstrap/dist/css/bootstrap.css";


/* You can add global styles to this file, and also import other style files */
body{
  /* background-color: rgb(22,172,202); */
}

#header2{
  color: rgb(198,198,198);
  text-shadow: 1px 1px 2px black;
  color: rgb(53,203,233);
  color: rgb(255,240,126);
  background-color: rgb(22,172,202);
}

.btn{
  border-color: #fff07e;
}
.btn:hover{
  background-color: #fff07e;
}
