<!-- Footer -->
<footer class="page-footer font-small">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 footerDisc">
        <!-- Content -->
        <!-- <h5 class="text-uppercase ">PlaceHolder Content</h5> -->
        <p>
          Giftr is a place for those who love the act of gift-giving, not just
          during the holidays but year round! Here, you can join your fellow
          participants in any of our themed Giftrs, in addition to those of your own
          design. Explore our page to view past and current Giftrs and sign up to be included
          in our upcoming Giftrs!
        </p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3 footerLinks">
        <!-- Links -->

        <ul class="list-unstyled">
          <li>
            <a href="/about">About</a>
          </li>
          &nbsp;
          <li>
            <a href="/contact">Contact</a>
          </li>
          &nbsp;
          <li>
            <a href="/faq">FAQ</a>
          </li>
          &nbsp;
          <li>
            <a href="/login">Log In</a>
          </li>
          &nbsp;
          <li>
            <a href="/register">Sign Up</a>
          </li>
          &nbsp;
          <li>
            <a
              *ngIf="checkUserLoggedIn() == false"
              class="navbar-brand"
              href="/home"
              ><img
                src="/assets/Logo.png/"
                alt="Giftr Logo Navigate to Home"
                height="35px"
                width="70px"
            /></a>
          </li>
        </ul>

        <div class="footer-copyright text-center py-3">
          © 2020 Created By: Aaron, Jess, Ryan, Justin
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->

  <!-- Copyright -->
</footer>
<!-- Footer -->
