<br>
<div class="container">
<h1 class="header">About Giftr</h1>
<hr class="hr-primary w-15 hr-xl ml-0 mb-5">
<p id="aboutBody">
  Our mission is to connect people around the world and spread joy. We wanted individuals to feel good about sending and recieving gifts year round. What started off as a Secret Santa Giftr exchange has turned into a community of indivudals that love seeing the joy that others have brought them. Oh, and we also did this for our Final Project for Skill Distillery Cohort 27.
</p>
</div>
<br>

<div class="container py-7">
  <h2 id="aboutTitle" class="text-uppercase text-letter-spacing-xs my-0 text-dark font-weight-bold">
    Meet The Team <i class="ion-ios-body pl-1 text-primary op-8 z-index-1"></i>
  </h2>
  <hr class="hr-primary w-15 hr-xl ml-0 mb-5">
  <div class="row mb-5">
    <div class="col-md-6 order-md-2">
      <img src="/assets/acbitmoji.png" alt="Aaaron's picture" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
    </div>
    <div class="col-md-6 flex-valign text-md-right">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Aaron Cottrell
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Scrum Master & Developer</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
      <p>Aaron is our one of our go to guys for debugging... Or maybe he just can't help himself. Either way, if you find an issue with the Giftr site, we know Aaron will put in the time to make it right.</p>
      <p>Aaron is a Minnesota native, putting down Colorado roots. If he's not at the keyboard working on Giftr projects, you may just find him on a mountain pass or on a snowmobile trail.<br>Either way, good luck catching up.</p>
      <a target="_blank" href="https://www.linkedin.com/in/aaron-cottrell/" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> Aaron's LinkedIn</a>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-6 text-md-right">
      <img src="/assets/jtbitmoji.png" alt="JT Picture" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
    </div>
    <div class="col-md-6 flex-valign">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Jess Tucker
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Repo Owner & Developer</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 mb-3">
      <p>Commoveo gilvus iaceo nutus pagus tincidunt. Eligo nutus proprius saluto vulputate. Brevitas eligo et fere quadrum quae ratis.</p>
      <p>Eum pecus quis. Accumsan genitus humo inhibeo ut vel. Augue bene enim gemino ideo ille luptatum os veniam venio.</p>
      <a target="_blank" href="https://www.linkedin.com/in/jesse-tucker/" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> Jess' LinkedIn</a>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-6 order-md-2">
      <img src="/assets/rmbitmoji.png" alt="Ryan's Picture" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
    </div>
    <div class="col-md-6 flex-valign text-md-right">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Ryan Miskoviak
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>DBA & Developer</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
      <p>Causa dolor et immitto typicus. Gilvus minim nunc pala suscipere tation usitas volutpat. Abbas abdo meus.</p>
      <p>Amet incassum mos quidem refoveo tation usitas vicis vulpes. Abigo accumsan acsi adipiscing esca hendrerit interdico occuro suscipere torqueo.</p>
      <a target="_blank" href="https://www.linkedin.com/in/ryan-miskoviak/" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> Ryan's LinkedIn</a>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-6 text-md-right">
      <img src="/assets/jl2bitmoji.jpeg" alt="Justin's Picture" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
    </div>
    <div class="col-md-6 flex-valign">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Justin Livingston
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Figma Wireframmer & Developer</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 mb-3">
      <p>Is anyone actually reading these? If you are, thanks for checking out our project. Check out our LinkedIns and hire us.</p>
      <p>Justin lives in Sunny San Diego Caliornia, if you can't find him at his desk coding. He's probably rock climbing, at a concert, or catching some waves at the beach.</p>
      <a target="_blank" href="https://www.linkedin.com/in/justineala/" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> Justin's Linkedin</a>
    </div>
  </div>
</div>
