<div class="tables">
  <label style="padding-left: 40px;" for="selectListType">Filter By: </label> &nbsp;
  <select name="selectListType" id="" [(ngModel)]="selectedListType">
<option value="" *ngFor="let t of listTypes" value="{{t}}">{{t}}</option>
  </select>



  <!-- ******************** START OF EVENTS TABLES ****************************** -->
  <div *ngIf="selectedListType == 'Events' || selectedListType == 'All'">
<h2>Current Active Giftrs  <br></h2>
<table >
  <thead class="col">
    <tr class="col">
      <th class="col">Event</th>
      <th class="col">Start Date</th>
      <th class="col">End Date</th>
    </tr>
  </thead>
  <tbody class="center">
    <tr class="col" *ngFor="let e of events | active "
    >
      <td class="col"  (click)="eventResult(e)" id="homeList">{{e.name}}</td>
      <td  class="col"  (click)="eventResult(e)" id="homeList"> {{e.startDate}}</td>
      <td  class="col" (click)="eventResult(e)"  id="homeList"> {{e.endDate}}</td>
      <td *ngIf='e.enabled'><button
        (click)="disableEvent(e)"
        class="btn"
        type="submit"
        value="remove"
        >Disable</button></td>
    </tr>
  </tbody>
</table>

<br>
<br>
<h2>Past Giftrs  <br></h2>
<table >
  <thead class="col">
    <tr class="col">
      <th class="col">Event</th>
      <th class="col">Start Date</th>
      <th class="col">End Date</th>
    </tr>
  </thead>
  <tbody class="center">
    <tr class="col" *ngFor="let e of events | disabled "
    >
      <td class="col"  (click)="eventResult(e)" id="homeList">{{e.name}}</td>
      <td  class="col"  (click)="eventResult(e)" id="homeList"> {{e.startDate}}</td>
      <td  class="col" (click)="eventResult(e)"  id="homeList"> {{e.endDate}}</td>
    </tr>
  </tbody>
</table>
</div>
<!-- ******************** END OF EVENTS TABLES ****************************** -->
<!-- ******************** START OF USER TABLES ****************************** -->

<div *ngIf="selectedListType == 'Users' || selectedListType == 'All'">
  <h2>Current Active Users  <br></h2>
  <table >
    <thead class="col">
      <tr class="col">
        <th class="col">First Name</th>
        <th class="col">Last Name</th>
        <th class="col">Username</th>
      </tr>
    </thead>
    <tbody class="center">
      <tr class="col" *ngFor="let u of users | active "
      >
      <td class="col"  id="homeList">{{u.firstName}}</td>
      <td class="col"  id="homeList">{{u.lastName}}</td>
      <td class="col"  id="homeList">{{u.username}}</td>

      <td *ngIf='u.enabled'><button
        (click)="disableUser(u)"
        class="btn"
        type="submit"
        value="remove"
        >Disable</button></td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>
  <h2>Disabled User  <br></h2>
  <table >
    <thead class="col">
      <tr class="col">
        <th class="col">First Name</th>
        <th class="col">Last Name</th>
        <th class="col">Username</th>
      </tr>
    </thead>
    <tbody class="center">
      <tr class="col" *ngFor="let u of users | disabled "
      >
      <td class="col"  id="homeList">{{u.firstName}}</td>
      <td class="col"  id="homeList">{{u.lastName}}</td>
      <td class="col"  id="homeList">{{u.username}}</td>
    </tr>
  </tbody>
</table>
</div>
<!-- ******************** END OF USER TABLES ****************************** -->
<!-- ******************** START OF EVENT POSTS TABLES ****************************** -->


<br>
<br>
<h2>Event Posts <br></h2>
<table >
  <thead class="col">
    <tr class="col">
      <th class="col">Event</th>
      <th class="col">Post</th>
      <th class="col">Post User</th>
    </tr>
  </thead>
  <tbody class="center">
    <tr class="col" *ngFor="let ep of eventPosts | active "
    >
    <td  class="col"   id="homeList"> {{ep.event.name}}</td>
      <td class="col"  id="homeList">{{ep.subject}}</td>
      <td class="col"  id="homeList">{{ep.user.username}}</td>
      <td *ngIf='ep.enabled'><button
        (click)="disableEventPost(ep)"
        class="btn"
        type="submit"
        value="remove"
        >Disable</button></td>
      </tr>
  </tbody>
</table>



<br>
<br>
<h2>Event Posts <br></h2>
<table >
  <thead class="col">
    <tr class="col">
      <th class="col">Event</th>
      <th class="col">Post</th>
      <th class="col">Post User</th>
    </tr>
  </thead>
  <tbody class="center">
    <tr class="col" *ngFor="let ep of eventPosts | disabled "
    >
    <td  class="col"   id="homeList"> {{ep.event.name}}</td>
      <td class="col"  id="homeList">{{ep.subject}}</td>
      <td class="col"  id="homeList">{{ep.user.username}}</td>
    </tr>
  </tbody>
</table>
</div>
