<div >
  <body>
    <section class="hero">
        <div class="hero-inner">
            <h1>Upcoming Giftr</h1>
            <h2>Participate in this year's Secret Santa!</h2>
            <a href="/register" class="btn">Sign Up...</a>
        </div>
    </section>
</body>
<section>
  <br>
  <br>
  <h3 id="homeHeader">About</h3>
  <!-- TODO  -->
  <div ng-container id="homeDescription">
    <br>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo ipsam ex
    aliquid natus ipsum, fugit culpa soluta minus perferendis quis vel
    doloremque sed, alias non omnis vitae id hic harum. Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Suscipit delectus, aspernatur nihil quo
    dicta totam atque enim ipsum natus nostrum consequatur quia. Tenetur sit
    beatae veniam sint quod quia labore!
  </div>
</section>
  <br />
  <br />
  <h3 id="homeHeader">Current Giftrs</h3>

  <div id="homeEvents">
    <ul id="horizontal-list">
      <li *ngFor="let event of events">
        <div id="eventCard">
          <div class="card h-100" style="width: auto">
            <h5 id="homeHeader" class="card-header">
              <i class="far fa-clipboard"></i> {{ event.name }}
            </h5>
            <!-- <img class="card-img-top" src="assets/img/GoatEvents2.png" alt="Card image cap"> -->
            <div class="card-body">
              <div class="text-div">
                <div (click)="eventResult(event)" class="card-text">
                  <img id="cardImg" src="{{event.imageUrl}}" alt="">
                </div>
              </div>
            </div>

            <div id="homeHeader" class="card-footer social-icons">
              <input
                (click)="eventResult(event)"
                class="btn"
                type="submit"
                value="Sign Up"
              />
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <br />
  <br />
  <br />
  <br /> <br />
  <br /> <br />
  <br /> <br />
  <br /> <br />

</div>

<!-- <div *ngIf="selected" id="homeEvents">
  <h3> {{ selected.name }}</h3>

  <p>{{selected.description}}</p>
</div> -->
