h3, h1{
  text-align: center;
}
h5{
color: black;
}
#howToPoints{
margin-left: 2%;
}
.howTo{
  background-color: rgb(53,203,233);
  margin-left: 1%;
}
.eventImg{
  width: 400px;
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid  rgb(53,203,233)!important;
}
.eventDesc{
  margin-left: 5%;
  margin-right: 5%;
}
.btnDiv{
  text-align: center;
}

.howTo{
  background-color: rgb(53,203,233);
  margin-left: 11.5%;
  margin-right: 11.5%;

}
#howToPoints{
  margin-left: 11.5%;
  margin-right: 11.5%;
  }

#howToheader {
  margin-left: 11.5%;
  margin-right: 11.5%;
}

#howToHeader {
  text-align: center;
}

.moreQuestions {
  text-align: center;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}



/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
}

/* Add padding to container elements */
.container {
  padding: 1px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #35cbe9;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
.errors{
  color: red;
font-weight: bolder;
}
#logo{
  text-align: left;
  float: left ;
}


#cancel {
  float: right;
}
