<div *ngIf="selected" id="homeEvents">
  <h1> {{ selected.name }}</h1>
</div>
<img class="eventImg" src="{{selected.imageUrl}}" alt="">
<div class="btnDiv">
<button *ngIf="selected.enabled"
  (click)="pEventSignup()"
  class="btn"
  type="submit"
  value=""
  >Sign up for this Event</button>
  <button *ngIf="button" class="btn" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Post your gift</button>
</div>

<br>
<h3 class="eventDesc">{{selected.description}}<h3>
  <br>
<br><br>
<br>
  <p> Still have questions? Check out the <a href="/faq" class="btn">FAQ</a> or <a href="/contact" class="btn">Contact Us</a></p>
<br>
<br>
<h3>How do Giftrs work?</h3>
<div class="howTo">

<br>
<h5 id="howToPoints">1. Sign up & get matched</h5><p id="howToPoints">
Sign up for the exchange. <br>

We will close signups and our computer program will choose who you should send a gift to (this is the most important part; this is about the giving!).</p>

<h5 id="howToPoints">2. Find the perfect gift & send it</h5>
<p id="howToPoints">Once you come back here to pick up your match's information, ship your gift. <br>

When you ship it, keep a receipt and come back here to tell us you've shipped it.</p>

<h5 id="howToPoints">3. Receive a gift from your match</h5>
<p id="howToPoints">When you receive a gift, you'll need to come back here and post an amazing thank you note, hopefully with photos!</p>
<br></div>

<!-- ******************** SIGN UP FORM **************************** -->
<div id="id02" class="modal">
  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>Gallery Information</h1>
      <p>Please fill in this form to post your gift to the gallery.</p>
      <hr>
      <label for="subject"><b>Subject: </b></label>
      <input type="text" placeholder="Subject" name="subject" [(ngModel)]="eventPost.subject" required>
      <br>
      <label for="description"><b>Description: </b></label>
      <input type="text" placeholder="Enter description" name="description" [(ngModel)]="eventPost.description" required>
      <br>
      <label for="imageUrl"><b>Image Url: </b></label>
      <input type="text" placeholder="Enter Image Url" name="imageUrl" [(ngModel)]="eventPost.imageUrl" required>
      <br>
            <div class="clearfix" id="cancel">
              <button type="button" onclick="document.getElementById('id02').style.display='none'" class=" btn cancelbtn">Cancel</button>
            </div>
            <div id ="submit">
            <button (click)="submitEventPost()" type="submit" class="btn signupbtn">Submit</button>
          </div>
          </div>
          <br>
  </form>
</div>
