<div *ngIf="selected" id="homeEvents">
  <h3> {{ selected.name }}</h3>

  <p>{{selected.description}}</p>
</div>

<br>
<br>
<h3>How do exchanges work?</h3>
<div class="howTo">

<br>
<h5 id="howToPoints">1. Sign up & get matched</h5><p id="howToPoints">
Sign up for the exchange. <br>

We will close signups and our computer program will choose who you should send a gift to (this is the most important part; this is about the giving!).</p>

<h5 id="howToPoints">2. Find the perfect gift & send it</h5>
<p id="howToPoints">Once you come back here to pick up your match's information, ship your gift. <br>

When you ship it, keep a receipt and come back here to tell us you've shipped it.</p>

<h5 id="howToPoints">3. Receive a gift from your match</h5>
<p id="howToPoints">When you receive a gift, you'll need to come back here and post an amazing thank you note, hopefully with photos!</p>
<br></div>
