.navbar{
  background-color: rgb(53, 203, 233);
}

.divNav{
  margin: 10px;
  overflow: hidden!important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

}
.btn{
  border-color: #fff07e;
}
.btn:hover{
  background-color: #fff07e;
}
.form-control{
  width: 12%;
  position: fixed;
  top: 4.7%;
  left: 44%;
  z-index: 1;


  }
  .form-control-button{
    position: fixed;
    top: 4.7%;
    left: 57%;
    z-index: 1;


    }
