.navbar{
  background-color: rgb(53, 203, 233);
}

.navbar-brand:hover {
  opacity: 0.5;
  cursor: pointer;
}

.nav-link {
  color: black!important;
}

.nav-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.divNav{
  margin: 10px;
  overflow: hidden!important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  text-shadow: 1px 1px white;
  font-weight: bold;
}
.btn{
  border-color: #fff07e;
}
.btn:hover{
  background-color: #fff07e;
}
.form-control{
  width: 12%;
  position: fixed;
  top: 26px;
  left: 44%;
  z-index: 1;


  }
  .form-control-button{
    position: fixed;
    top: 26px;
    left: 57%;
    z-index: 1;
}
