<ul id="horizontal-list">
<li class="contactList"> BY PHONE <br>
  (Monday to Friday, 9am to 6pm MST)<br>
  North America Toll-Free:<br>
  1-555-555-5555<br>
  International:
  1-111-111-1111</li>

  <li class="contactList" >BY EMAIL<br>
  Sometimes you need a little help from your friends.<br>
  Or a Giftr support rep. Don’t worry… we’re here for you.<br>
  Send us an Email:<br>
  <a href="mailto:fake@fake.com"
  target="_blank">FrendlyGifter@Giftr.com</a>
  </li>
</ul>
<div style= "height: 425px">
</div>
