<!-- ******************** START OF FILTERS ****************************** -->
<label style="padding-left: 100px" for="pageView">Page View: </label> &nbsp;
<!-- (change)="setPageViewCookie()" -->
<select
(click)="findUser()"
(click)="findAddress()"
  name="pageView"
  id=""
  [(ngModel)]="pageView"
>
  <option  value="" *ngFor="let pv of pageViews" value="{{ pv }}">
    {{ pv }}
  </option>
</select>
<!-- ******************** END OF FILTERS ****************************** -->
<!-- TODO
event details page
backbutton on page
-->
<div *ngIf="pageView == 'Profile'">
<div class="tables">

<h2> Your Giftrs  <br></h2>
<div style="height: 10px; width: 10px; border: solid 1px black; margin-left: 2%; background-color: rgba(255, 242, 55, 0.4); display: block;"></div><div style="height: 10px; font-size: small; display: inline-block; margin-left: 2%;"><sup>*</sup>This means sign-ups have been closed and you have been assigned a receiver.<br>Please send your gift and update Gift Details  </div>
<table >
  <thead class="col">
    <tr class="col">
      <th class="col">Giftr</th>
      <th class="col">Start Date</th>
      <th class="col">Ship Date</th>
      <th class="col">Receiver</th>
      <th class="col">Address to Send</th>
      <th class="col">Tips from your Receipient</th>
    </tr>
  </thead>
  <tbody class="center">
    <tr [ngClass]="isEventEnabled(e)" class="col"  *ngFor=" let e of events; let i = index "
    >
      <td class="col"  (click)="eventResult(e)" id="homeList">{{e.name}}</td>
      <td  class="col"  (click)="eventResult(e)" id="homeList"> {{e.startDate}}</td>
      <td  class="col" (click)="eventResult(e)"  id="homeList"> {{e.endDate}}</td>
      <td  class="col"  (click)="eventResult(e)" id="homeList"> {{findReceiverUsername(i)}}</td>
      <td  class="col" (click)="eventResult(e)"  id="homeList"> {{findReceiverAddressStreet(i)}} {{findReceiverAddressStreet2(i)}} {{findReceiverAddressCity(i)}} {{findReceiverAddressState(i)}} {{findReceiverAddressZip(i)}} {{findReceiverAddressCountry(i)}}</td>
      <td style="padding: 2%; vertical-align: text-top;">{{displayNote(e,i)}}</td>
      <td *ngIf='!e.enabled'><button
        class="btn"
        (click)="setUpdateGift(e)"
        onclick="document.getElementById('id02').style.display='block'"
        style="width: auto"
      >
        Update Gift Details
      </button></td>
      <td *ngIf='!e.enabled && checkGiftDetails(e)'><button
        (click)="removeEvent(e)"
        class="btn"
        type="submit"
        value="remove"
        >Remove</button></td>
      <!-- <td  class="col"  id="homeList"> {{g.receiver.address.street}}</td> -->




    </tr>
  </tbody>
</table>


<!-- (click)="pEventResult()" -->
<h2> Your Private Giftrs
  <!-- <button *ngIf="!pEvents"
  class="btn"
  type="submit"
  value="Post your gift"
  >Post your gift</button> -->

</h2>
<table >
  <thead class="col">
    <tr class="col">
      <th class="col">Giftr</th>
      <th class="col">Description</th>
      <th class="col">Receiver</th>
      <th class="col">Address to Send</th>
    </tr>
  </thead>
  <tbody   class="center">
    <tr class="col" (click)="pEvent" (click)="pEventResult(pEvent)" *ngFor=" let pEvent of pEvents "
    >
      <td class="col" id="homeList">{{pEvent.name}}</td>
      <td class="col"  id="homeList"> {{pEvent.description}}</td>


    </tr>
  </tbody>
</table>
</div>




<!-- <div class="userEventLists" id="userEvents">
<h2 >Current Exchanges</h2>

<div  id="homeEvents">
  <ul  id="horizontal-list">


      <li (click)="event" (click)="eventResult(event)" *ngFor=" let event of events " *ngFor=" let pEvent of pEvents ">
        <div id="eventCard">
        <div class="card h-100" style="width: auto;">
          <h5  id="homeHeader" class="card-header"><i class="far fa-clipboard"></i> {{event.name}}</h5> -->
          <!-- <img class="card-img-top" src="assets/img/GoatEvents2.png" alt="Card image cap"> -->
        <!-- <div  class="card-body">
            <div class="text-div">
              <div class="card-text">Description: {{event.description}}</div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>

<div class="userEventLists" id="userPrivateEvents">
<h2 >Private Exchanges</h2>
<div  id="homeEvents">
  <ul  id="horizontal-list">

      <li (click)="pEvent" (click)="eventResult(pEvent)" *ngFor=" let pEvent of pEvents ">
        <div id="eventCard">
        <div class="card h-100" style="width: auto;">
          <h5  id="homeHeader" class="card-header"><i class="far fa-clipboard"></i> {{pEvent.name}}</h5> -->
          <!-- <img class="card-img-top" src="assets/img/GoatEvents2.png" alt="Card image cap"> -->
        <!-- <div  class="card-body">
            <div class="text-div">
              <div class="card-text">Description: {{pEvent.description}}</div>
            </div>
          </div>
        </div>
      </div>
    </li>

  </ul>
</div>
</div> -->

<h3 style="padding-left: 2.5%;" *ngIf="!pEvents">COMING SOON!</h3>
<h6 *ngIf="!pEvents">No Private Giftrs here right now. In the mean time, check out other Giftrs or the gallery.</h6>
<div style="width: 100%;"></div>
<br>
<br>
</div>
<!-- ================================= Update Gift Details========================= -->
<div id="id02" class="modal">
  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container-fluid">
      <h1>Update Gift Information</h1>
      <p>Please fill in this form to update Giftr on the gift you sent.<br>Description is required, but you can add as much or as little else as you would like</p>
      <hr>

      <label for="subject"><b>Price</b></label>
      <input type="text" placeholder="Price" name="price" [(ngModel)]="updateGift.price" required>
      <br>
      <br>
      <label for="subject"><b>Weight (kg)</b></label>
      <input type="text" placeholder="Weight (kg)" name="price" [(ngModel)]="updateGift.weight" required>
      <br>
      <br>
      <label for="description"><b>Description</b><sup style="color: red;">*</sup></label>
      <textarea name="description" placeholder="Please Enter Description" cols="50" rows="8" type="text" [(ngModel)]="updateGift.description" ></textarea>
      <br>
      <br>
      <label for="imageUrl"><b>Image Url</b></label>
      <label for="imageUrl"><img src="{{updateGift.imageUrl}}" height="150px" width="100px" alt=""></label>
      <input type="text" placeholder="Enter Image Url" name="imageUrl" [(ngModel)]="updateGift.imageUrl" required>
      <br>
      <br>
      <div id ="submit">
      <button (click)="submitGiftUpdate()" type="submit" class="btn signupbtn">Submit</button>
    </div>
            <div class="clearfix" id="cancel">
              <button style="float: right;" type="button" onclick="document.getElementById('id02').style.display='none'" class=" btn cancelbtn">Cancel</button>
            </div>
          </div>
          <br>
  </form>
</div>





<!-- ******************** START OF USER UPDATE TABLES ****************************** -->

<div *ngIf="pageView == 'Update User Profile'">
  <form #updateUserForm="ngForm" class="modal-content" action="/action_page.php">
    <div class="container-fluid">
      <h1>'Update User Profile'</h1>
      <p>Please fill in this form to update your profile.</p>
      <hr />
      <br />
      <br />

      <label for="firstName"><b>First Name</b></label>
      <input
        name="firstName"
        value="{{ updateUser.firstName }}"
        type="text"
        [(ngModel)]="updateUser.firstName"
      />
      <br />
      <br />
      <label for="lastName"><b>Last Name</b></label>
      <input
        name="lastName"
        value="{{ updateUser.lastName }}"
        type="text"
        [(ngModel)]="updateUser.lastName"
      />
      <!-- <br />
      <br />
      <label for="username"><b>Username</b></label>
      <input
        name="username"
        value="{{ updateUser.username }}"
        type="text"
        [(ngModel)]="updateUser.username"
      />
      <label for="password"><b>Password</b></label>
      <input
        name="password"
        value="{{ updateUser.password }}"
        type="text"
        [(ngModel)]="updateUser.password"
      /> -->
      <br />
      <br />
      <label for="birthDate"><b>Birthday</b></label>
      <input
        name="birthDate"
        value="{{ updateUser.birthDate }}"
        type="date"
        [(ngModel)]="updateUser.birthDate"
      />

      <br />
      <br />
      <label for="imageUrl"><b>Email</b></label>
      <input
        name="imageUrl"
        value="{{ updateUser.email }}"
        type="text"
        [(ngModel)]="updateUser.email"
      />
      <br />
      <br />

      <br />
      <br />
      <br />

      <div class="clearfix">
        <button
          (click)="changeUserProfile(updateUser.id)"
          type="submit"
          class="btn signupbtn"
        >
          Update Profile
        </button>
        <button
          type="button"
          (click)="confirmCancelProfile(newEventForm)"
          class="btn cancelbtn"
        >
          Cancel
        </button>
      </div>
    </div>
    <br />
  </form>
</div>
<!-- ******************** END OF USER UPDATE TABLES ****************************** -->

<!-- ******************** START OF UPDATE ADDRESS ****************************** -->
<div *ngIf="pageView == 'Update Address'">
  <form #newEventForm="ngForm" class="modal-content" action="/action_page.php">
    <div class="container-fluid">
      <h1>Update Address</h1>
      <p>Please fill in this form to update an Address.</p>
      <hr />
      <!-- <select
        id="updateAddress"
        (change)="findAddress()"
        name="updateAddress"
        [(ngModel)]="updateAddress.id"
      >
        <option *ngFor="let u of users" value="{{ u.address.id }}">
          {{ u.firstName }} {{ u.lastName }}
        </option>
      </select> -->
      <br />
      <br />

      <label for="street"><b>Street</b></label>
      <input
        name="street"
        value="{{ updateAddress.street }}"
        type="text"
        [(ngModel)]="updateAddress.street"
      />
      <br />
      <label for="street2"><b>Street2</b></label>
      <input
        name="street2"
        value="{{ updateAddress.street2 }}"
        type="text"
        [(ngModel)]="updateAddress.street2"
      />
      <br />
      <label for="city"><b>City</b></label>
      <input
        name="city"
        value="{{ updateAddress.city }}"
        type="text"
        [(ngModel)]="updateAddress.city"
      />
      <br />
      <label for="stateProvince"><b>State Province</b></label>
      <input
        name="stateProvince"
        value="{{ updateAddress.stateProvince }}"
        type="text"
        [(ngModel)]="updateAddress.stateProvince"
      />
      <br />
      <label for="zip"><b>Zip Code</b></label>
      <input
        name="zip"
        value="{{ updateAddress.zip }}"
        type="number"
        [(ngModel)]="updateAddress.zip"
      />
      <br />
      <label for="country"><b>Country</b></label>
      <input
        name="country"
        value="{{ updateAddress.country }}"
        type="text"
        [(ngModel)]="updateAddress.country"
      />
      <br />

      <br />

      <br />
      <br />
      <br />

      <div class="clearfix">
        <button
          (click)="changeAddress(updateAddress.id)"
          type="submit"
          class="btn signupbtn"
        >
          Update Address
        </button>
        <button
          type="button"
          (click)="confirmCancelProfile(newEventForm)"
          class="btn cancelbtn"
        >
          Cancel
        </button>
      </div>
    </div>

    <br />
  </form>
</div>
