
<!-- TODO
event details page
backbutton on page
-->
<div class="tables">

<h2> Your Events  <br><button
  (click)="pEventResult()"
  class="btn"
  type="submit"
  value="Post your gift"
  >Post your gift</button></h2>
<table >
  <thead class="col">
    <tr class="col">
      <th class="col">Event</th>
      <th class="col">Start Date</th>
      <th class="col">End Date</th>
      <th class="col">Receiver</th>
      <th class="col">Address to Send</th>
    </tr>
  </thead>
  <tbody class="center">
    <tr class="col"  *ngFor=" let e of events; let i = index "
    >
      <td class="col"  (click)="eventResult(e)" id="homeList">{{e.name}}</td>
      <td  class="col"  (click)="eventResult(e)" id="homeList"> {{e.startDate}}</td>
      <td  class="col" (click)="eventResult(e)"  id="homeList"> {{e.endDate}}</td>
      <td  class="col"  (click)="eventResult(e)" id="homeList"> {{findReceiverUsername(i)}}</td>
      <td  class="col" (click)="eventResult(e)"  id="homeList"> {{findReceiverAddressStreet(i)}} <br> {{findReceiverAddressStreet2(i)}}
      <br>{{findReceiverAddressCity(i)}}  {{findReceiverAddressState(i)}} {{findReceiverAddressZip(i)}}<br> {{findReceiverAddressCountry(i)}}</td>
      <td>{{findNote(e,i)}} </td>
      <td *ngIf='!e.enabled'><button
        (click)="removeEvent(e)"
        class="btn"
        type="submit"
        value="remove"
        >Remove</button></td>
      <!-- <td  class="col"  id="homeList"> {{g.receiver.address.street}}</td> -->




    </tr>
  </tbody>
</table>


<h2> Your Private Events <br> <button
  (click)="pEventResult()"
  class="btn"
  type="submit"
  value="Post your gift"
  >Post your gift</button></h2>
<table >
  <thead class="col">
    <tr class="col">
      <th class="col">Event</th>
      <th class="col">Description</th>
      <th class="col">Receiver</th>
      <th class="col">Address to Send</th>
    </tr>
  </thead>
  <tbody   class="center">
    <tr class="col" (click)="pEvent" (click)="eventResult(pEvent)" *ngFor=" let pEvent of pEvents "
    >
      <td class="col" id="homeList">{{pEvent.name}}</td>
      <td class="col"  id="homeList"> {{pEvent.description}}</td>


    </tr>
  </tbody>
</table>
</div>




<!-- <div class="userEventLists" id="userEvents">
<h2 >Current Exchanges</h2>

<div  id="homeEvents">
  <ul  id="horizontal-list">


      <li (click)="event" (click)="eventResult(event)" *ngFor=" let event of events " *ngFor=" let pEvent of pEvents ">
        <div id="eventCard">
        <div class="card h-100" style="width: auto;">
          <h5  id="homeHeader" class="card-header"><i class="far fa-clipboard"></i> {{event.name}}</h5> -->
          <!-- <img class="card-img-top" src="assets/img/GoatEvents2.png" alt="Card image cap"> -->
        <!-- <div  class="card-body">
            <div class="text-div">
              <div class="card-text">Description: {{event.description}}</div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>

<div class="userEventLists" id="userPrivateEvents">
<h2 >Private Exchanges</h2>
<div  id="homeEvents">
  <ul  id="horizontal-list">

      <li (click)="pEvent" (click)="eventResult(pEvent)" *ngFor=" let pEvent of pEvents ">
        <div id="eventCard">
        <div class="card h-100" style="width: auto;">
          <h5  id="homeHeader" class="card-header"><i class="far fa-clipboard"></i> {{pEvent.name}}</h5> -->
          <!-- <img class="card-img-top" src="assets/img/GoatEvents2.png" alt="Card image cap"> -->
        <!-- <div  class="card-body">
            <div class="text-div">
              <div class="card-text">Description: {{pEvent.description}}</div>
            </div>
          </div>
        </div>
      </div>
    </li>

  </ul>
</div>
</div> -->


<h6>No exchanges here right now. In the mean time, check out other exchanges or the gallery.</h6>
<div style="width: 100%;"></div>
<br>
<br>

