<h1 id="header">Frequently Asked Questions</h1>
<div id="faqDiv">
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="What is Giftr?">
    <ng-template ngbPanelContent>
      Ever wanted to participate in Secret Santa, but never had a big enough group to participate with? With Giftr we give
      you the option with giving gifts to anyone else participating! You are not only limited to Secret Santa, but any other
      themed events that we also host!
    </ng-template>
  </ngb-panel>
  <ngb-panel title="How do I participate?">
    <ng-template ngbPanelContent>
     Click one of our sign up buttons to create an account and choose the event you want to participate in! Once you select an event, go to your profile to see where to send the gift!
    </ng-template>
  </ngb-panel>
  <ngb-panel title="How old do I have to be to participate?">
    <ng-template ngbPanelContent>
      There is no age limit to participate. We only ask that you put time and effort into your gift!
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Is it only Secret Santa?">
    <ng-template ngbPanelContent>
      No, we offer many different themed events you can participate in throughout the year!
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Are you guys hiring?">
    <ng-template ngbPanelContent>
      We are always looking for incredible talent to be apart of the Giftr team. Send in your application to GiftrCareers@gitfr.com.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Am I able to have more than 1 Secret Santa?">
    <ng-template ngbPanelContent>
      You are only able to give and recieve 1 gift.
    </ng-template>
  </ngb-panel>
</ngb-accordion>
</div>
