.login, h1, p{
  text-align: center;
}
#homeHeader, #homeEvents, #homeDescription{
  text-align: center;
}

#homeHeader{
  background-color: rgb(53,203,233);
}

.errors{
  color: red;
font-weight: bolder;
}
.loginForm{
  margin-right: 25%;
  margin-left: 25%;
}
